.button {
  --v-button-color: var(--v-primary);
  --v-button-border-color: var(--v-border-primary);

  padding: calc(2 * var(--v-base-unit));
  border: 1px solid rgb(var(--v-button-border-color));
  background-color: rgb(var(--v-button-color));
  border-radius: 4px;
  cursor: pointer;

  box-shadow: -4px 4px 8px rgba(var(--v-button-border-color), 0.2),
    4px 4px 8px rgba(var(--v-button-border-color), 0.2);
}

.button:focus {
  outline: 2px solid rgb(var(--v-button-border-color));
  outline-offset: 0px;
}

.button:hover {
  filter: brightness(1.05);
}

.button:active {
  filter: brightness(0.95);
}

.button__disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.button__disabled:focus {
  outline: unset;
}
.button__disabled:hover,
.button__disabled:active {
  filter: unset;
}

.button__success {
  --v-button-color: var(--v-success);
  --v-button-border-color: var(--v-border-success);
}
.button__error {
  --v-button-color: var(--v-error);
  --v-button-border-color: var(--v-border-error);
}
.button__secondary {
  --v-button-color: var(--v-secondary);
  --v-button-border-color: var(--v-border-secondary);
}

.button__small {
  font-size: calc(var(--v-font-size) / 2);
  padding: var(--v-base-unit);
}

.button__medium {
  font-size: calc(var(--v-font-size) / 1.25);
  padding: calc(var(--v-base-unit) * 1.5);
}

.button-loader {
  margin-left: space-x();
}
