.main-menu-item {
  position: relative;
  display: flex;
  padding: space-y(0.5) space-x();
}
.main-menu > li > .main-menu-item {
  border-bottom: 1px solid rgb(var(--v-border-primary));
}
.main-menu > li > .main-menu-item {
  text-decoration: unset;
}

.main-menu-item__active::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: space-y(0.25) 0;
  border-left: 4px solid rgb(var(--v-border-primary));
  background-color: rgba(var(--v-primary), 0.2);
}

.menu-badge {
  color: black;
  font-size: 14px;
  padding: 4px;
  margin-left: auto;
  border-radius: 19px;
  background-color: rgb(var(--v-error));
  min-width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(var(--v-border-error));
}

@include md {
  .main-menu > li:last-child > .main-menu-item {
    border-bottom: unset;
  }
}
