.message-list-item {
  display: grid;
  grid-template-areas:
    "user"
    "date"
    "subject"
    "content"
    "action";

  grid-template-columns: 1fr auto;
  padding: space-y() 0;
  gap: space-y(0.5) space-x();
}

.message-list-item:last-child {
  padding-bottom: 0;
}

.message-list-item:first-child {
  padding-top: 0;
}

.message-list-item:not(:last-child) {
  border-bottom: 1px solid rgb(var(--v-border-primary));
}

.message-list-item-user {
  grid-area: user;
  font-weight: bold;
  display: flex;
}

.message-list-item-subject {
  grid-area: subject;
}

.message-list-item-date {
  grid-area: date;
  text-align: left;
}

.message-list-item-content {
  grid-area: content;
  color: rgba(var(--v-text-primary), 0.5);
  min-height: 38px;
}

.message-list-item-action {
  grid-area: action;
  display: flex;
  align-items: flex-end;
  gap: space-y(0.25) space-x();
  justify-content: end;
  flex-wrap: wrap;
}

.menu-badge.list-variant {
  margin-left: unset;
  margin-right: 8px;
}

@include sm {
  .message-list-item {
    grid-template-areas:
      "user date"
      "subject subject"
      "content content"
      "action action";
  }
}

@include md {
  .message-list-item-date {
    text-align: right;
  }

  .message-list-item {
    grid-template-areas:
      "user date"
      "subject action"
      "content action";
  }
}
