.register-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: space-y() space-x();
  margin-bottom: space-y();
}

.register-submit {
  width: 100%;
  display: block;
  margin-left: auto;
  text-align: center;
}

.register-submit-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  row-gap: space-y();
  column-gap: space-x();
}

@include sm {
  .register-form {
    grid-template-columns: 1fr 1fr;
  }
  .register-form > *:first-child {
    grid-column: span 2;
  }
  .register-submit {
    width: auto;
  }
  .register-submit-wrapper {
    flex-direction: row;
  }
}

@include md {
  .register-form {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .register-form > *:first-child {
    grid-column: 1;
  }
}
